<!doctype html>

<html>
<head>
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='82931722-0',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->

	<title>{{> title}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/bootstrap-switch.css" rel="stylesheet">
	<link href="/css/favorfinder.css" rel="stylesheet">
  {{> stylesheet}}
  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="menu-bar">
    <div id="nav-button">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="/">
              <span class="glyphicon glyphicon-home"></span>  News Feed 
          </a></li>
          <li><a href="/profile">
              <span class="glyphicon glyphicon-user"></span>  {{user.name}}
          </a></li>
          <li><a href="/settings">
              <span class="glyphicon glyphicon-wrench"></span>  Settings
          </a></li>
          <li><a href="/logout">
              <span class="glyphicon glyphicon-log-out"></span>  Log Out
          </a></li>
        </ul>
      </div>
    </div>
    <div id="title"><p>FAVOR FINDER</p></div>
      <div id="add-button">  
        <a href="#addModal" role="button" class="btn btn-sm" data-toggle="modal" data-backdrop="static" id="add-anchor">
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </a>
      </div>
    </div>
    <div class="spacer"></div>
  </div>

	

  <div id="addModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addFavorModalLabel" aria-hidden="true">
    <form id="addFavorForm" role="form" method="post" action="/add_posting">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 id="modal-mode"> Request a Favor </h2>
        <p class="subtitle" id="modal-desc"> Request a favor, either from specific friends or from the larger community through the newsfeed </p>
        <div class="btn-group-wrap">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default active" id="favor-btn">
              <input type="radio" name="options" data-toggle="button"> 
              <span class="glyphicon glyphicon-plus"></span>  Request Favor
            </label>
            <label class="btn btn-default" id="event-btn">
              <input type="radio" name="options" data-toggle="button"> 
              <span class="glyphicon glyphicon-plus"></span>  Offer Favor
            </label>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger">Alert!</div>
        <div class="form-group">
          <label for="name" id="title-type">Favor Title:</label>
          <input type="text" class="form-control" id="name" placeholder="Name" name="name">
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea class="form-control" rows="2" id="description" placeholder="Description" name="description"></textarea>
        </div>

        <div class="form-group">
          <label id="notification-type">Send Request (optional):</label>
          <select class="form-control" name="target" id="form-target">
              <option/>
          </select>
        </div>

        <div class="option">
          <p>Share on Newsfeed: </p> 
          <div class="switch">
            <input type="checkbox" name="publish" checked="checked">
          </div>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" class="close">Close</button>
        <input type="submit" id="addFavorSubmitBtn" class="btn btn-primary modal-submit" value="Send Request!"></input>
        <!-- clicking this button should change everything inside the modal to a confirmation and provide a close button. if you add data-dismiss="modal" here, the submit won't work -->
      </div>
    </form>

  </div>

{{{body}}}

</body>
  <script src="/js/jquery-1.11.0.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/bootstrap-switch.js"></script>
  {{> page-script}}
  <script src="/js/favorfinder.js"></script>
</html>
