<!doctype html>

<html>
<head>
	<title>Favor Finder</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/favorfinder.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <link href="css/appointments.css" rel="stylesheet">
</head>

<body>
	<div class="container" id="main-body">
		<div id="menu-bar">
            <div id="nav-button">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/">
                            <span class="glyphicon glyphicon-home"></span>  Home 
                        </a></li>
                        <li><a href="/profile">
                            <span class="glyphicon glyphicon-user"></span>  My Profile
                        </a></li>
                        <li><a href="/appointments">
                            <span class="glyphicon glyphicon-time"></span>  My Appointments
                        </a></li>
                        <li><a href="/requests">
                            <span class="glyphicon glyphicon-inbox"></span>  Requests
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="/settings">
                            <span class="glyphicon glyphicon-wrench"></span>  Settings
                        </a></li>
                    </ul>
                  </div>
            </div>
            <div id="title"><p>FAVOR FINDER</p></div>
            <div id="add-button">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li><a href="#">
                            <span class="glyphicon glyphicon-plus"></span>  New Event 
                        </a></li>
                        <li class="divider"></li>
                        <li><a href="#">
                            <span class="glyphicon glyphicon-plus"></span>  New Favor
                        </a></li>
                    </ul>
                  </div>
            </div>
            <div class="spacer"></div>
        </div>
        <div id='calendar'></div>
	</div>

</body>
	<script src="js/jquery-1.11.0.js"></script>
    <script src="js/fullcalendar.js"></script>
    <script src="js/appointments.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/favorfinder.js"></script>
</html>
