<div class="container">
	    <div class="search-box">
	    	<form action="TO-BE-FOUND" method="get" name="search">
	          	<span class="glyphicon glyphicon-search"></span>
	            <input name="search" type="text" value="" />
              <span class="glyphicon glyphicon-remove-circle clear-search"></span>
        	</form>
        	<div class="spacer"></div>
        </div>
        <div class="btn-group-wrap">
                <div class="btn-group" data-toggle="buttons">
                  <label class="btn btn-default search-btn active" search-type="feed">
                    <input type="radio" name="options" id="feed" data-toggle="button"> 
                    <span class="glyphicon glyphicon-th-list alt"></span>  Feed
                  </label>
                  <label class="btn btn-default search-btn" search-type="claimed">
                    <input type="radio" name="options" id="claimed" data-toggle="button"> 
                    <span class="glyphicon glyphicon-bullhorn"></span>  Claimed
                  </label>
                  <label class="btn btn-default search-btn" search-type="inbox">
                    <input type="radio" name="options" id="inbox" data-toggle="button"> 
                    <span class="glyphicon glyphicon-inbox"></span>  Inbox
                  </label>
                  <label class="btn btn-default search-btn" search-type="sent">
                    <input type="radio" name="options" id="sent" data-toggle="button"> 
                    <span class="glyphicon glyphicon-send"></span>  Created
                  </label>
                </div>
        </div>
        <hr/>
        <div class="news-feed-fake"></div>
	</div>
</div>

<div id="viewFavorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="viewFavorModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <img id="favor-img">
    <h3 id="favor-title"></h3>
    <h5 id="favor-status"></h5>
    <div id="favor-claimer"></div>
  </div>
  <div class="modal-body">
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" class="close">Close</button>
  </div>
</div>
</div>