
	<div class="container" id="main-body">
        {{#each postings}}
        	<div class="feed-event">
        		<img class="feed-icon" src="{{imgURL}}"/>
        		<h4>{{name}}</h4>
        		<p class="event-desc">{{description}}</p>
        	</div>
        {{/each}}
    </div>
