    <div class="prof-header" style="background-image: url('/images/halfpipe.png')">
        <div class="faded-filter">
            <div class="circle" style="background-image: url({{user.pic}})"></div>
            <div class = "about">
                <h3>{{user.name}}</h3>
                <p> 43 Favors received, 127 Favors completed
            </div>
        </div>
    </div>
	<div class="container">
        <div class="btn-group-wrap">
            <div class="btn-group centered" data-toggle="button">
                <button type="button" class="btn btn-default" id="inbox">
                    <span class="glyphicon glyphicon-inbox"></span>  Send Request
                </button>
                <button type="button" class="btn btn-default" id="sent">
                    <span class="glyphicon glyphicon-send"></span>  Send Notification
                </button>
            </div>
        </div>
        <br/>
        <div id="wishlist-container">
            <h3>Wishlist</h3>
            <div class="icon">
                <span class="glyphicon glyphicon-check"></span>
            </div>
            <div id="wishlist" class="scrolling">
                <ul>
                    <li>A ride to Safeway.</li>
                    <li>Help fixin my bike tire</li>
                    <li>Cooking Lessons</li>
                    <li>A climbing partner</li>
                    <li>Midnight game of Espionage</li>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
        <div id="resources-container">
            <h3>Resources</h3>
            <div class="icon">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
            <div id="resources" class="scrolling">
                <ul>
                    <li>I have a bike</li>
                    <li>I have a car</li>
                    <li>I have Hulu Plus</li>
                    <li>I own a guitar</li>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
        <div id="history-container">
            <h3>User History</h3>
             <div class="icon">
                <span class="glyphicon glyphicon-tasks"></span>
            </div>
            <div id="history">
                <ul>
                    <li>{{user.name}} taught Sara how to code.</li>
                    <li>{{user.name}} helped Ben make a detailed task list.</li>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
