    <div class="prof-header" style="background-image: url('/images/halfpipe.png')">
        <div class="faded-filter">
            <div class="circle" style="background-image: url({{user.pic}})"></div>
            <div class = "about">
                <h3>{{user.name}}</h3>
                <div style="display:none" id="userid">{{user._id}}</div>
                <p> 43 Favors received, 127 Favors completed
            </div>
        </div>
    </div>
	<div class="container">
        {{#if show_buttons}}
            <div class="btn-group-wrap">
                <div class="btn-group centered" data-toggle="button">
                    <a href="#addModal" role="button" class="btn btn-sm" data-toggle="modal" data-backdrop="static" id="request-favor">
                    <button type="button" class="btn btn-default" id="inbox">
                        <span class="glyphicon glyphicon-inbox"></span>  Request Favor
                    </button>
                    </a>
                    <a href="#addModal" role="button" class="btn btn-sm" data-toggle="modal" data-backdrop="static" id="offer-favor">
                    <button type="button" class="btn btn-default" id="sent">
                        <span class="glyphicon glyphicon-send"></span>  Offer Favor
                    </button>
                    </a>
                </div>
            </div>
        {{/if}}
        <br/>
        <div id="wishlist-container">
            <h3>Wishlist</h3>
            <div class="icon">
                <span class="glyphicon glyphicon-check"></span>
            </div>
            <div id="wishlist">
                <ul>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
        <div id="resources-container">
            <h3>Resources</h3>
            <div class="icon">
                <span class="glyphicon glyphicon-edit"></span>
            </div>
            <div id="resources">
                <ul>
                    {{#each user.resources}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
        <div id="history-container">
            <h3>User History</h3>
             <div class="icon">
                <span class="glyphicon glyphicon-tasks"></span>
            </div>
            <div id="history">
                <ul>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
    </div>
