<!doctype html>

<html>
<head>
	<title>{{user}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/favorfinder.css" rel="stylesheet">
    <link href="css/profile.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
    <div id="menu-bar">
        <div id="nav-button">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/">
                        <span class="glyphicon glyphicon-home"></span>  Home 
                    </a></li>
                    <li><a href="/profile">
                        <span class="glyphicon glyphicon-user"></span>  My Profile
                    </a></li>
                    <li><a href="/appointments">
                        <span class="glyphicon glyphicon-time"></span>  My Appointments
                    </a></li>
                    <li><a href="/requests">
                        <span class="glyphicon glyphicon-inbox"></span>  Requests
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="/settings">
                        <span class="glyphicon glyphicon-wrench"></span>  Settings
                    </a></li>
                </ul>
              </div>
        </div>
        <div id="title"><p>FAVOR FINDER</p></div>
        <div id="add-button">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="#">
                        <span class="glyphicon glyphicon-plus"></span>  New Event 
                    </a></li>
                    <li class="divider"></li>
                    <li><a href="#">
                        <span class="glyphicon glyphicon-plus"></span>  New Favor
                    </a></li>
                </ul>
              </div>
        </div>
        <div class="spacer"></div>
    </div>
    <div class="prof-header" style="background-image: url('images/halfpipe.png')">
        <div class="faded-filter">
            <div class="circle" style="background-image: url('images/jessie.png')"></div>
            <div class = "about">
                <h3>Jessie Duan</h3>
            </div>
        </div>
    </div>
	<div class="container">
        <br/>
        <div id="wishlist-container">
            <h3>Wishlist</h3>
            <div class="icon">
                <span class="glyphicon glyphicon-th-list"></span>
            </div>
            <div id="wishlist" class="scrolling">
                <ul>
                    <li>I need a ride to Safeway.</li>
                </ul>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <div id="resources-container">
            <h3>Resources</h3>
            <div class="icon">
                <span class="glyphicon glyphicon-wrench"></span>
            </div>
            <div id="resources" class="scrolling">
                <form action="">
                    <input type="checkbox">I have a bike<br>
                    <input type="checkbox">I have a car<br>
                    <input type="checkbox">I have Hulu Plus<br>
                    <input type="checkbox">I own a guitar<br>
                </form>
            </div>
        </div>

        <div id="history-container">
            <h3>User History</h3>
            <div id="history">
                <ul>
                    <li>Heidi taught Sara how to code.</li>
                    <li>Heidi helped Ben make a detailed task list.</li>
                </ul>
            </div>
        </div>

    </div>


</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/hci-friends.js"></script>
</html>
