<div class="container">
    <div class="btn-group-wrap">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
            <input type="radio" name="options" id="claimed" data-toggle="button"> 
            <span class="glyphicon glyphicon-th-list alt"></span>  Claimed
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="inbox" data-toggle="button"> 
            <span class="glyphicon glyphicon-inbox"></span>  Inbox
          </label>
          <label class="btn btn-default">
            <input type="radio" name="options" id="sent" data-toggle="button"> 
            <span class="glyphicon glyphicon-send"></span>  Created
          </label>
        </div>
    </div>
    <div class="requests-summary"> 4 Unread : 5 total messages </div>
    <hr/>
    <div class="requests">
        <a href="#viewFavorModal" data-toggle="modal" data-backdrop="static" id="add-anchor">
    	<div class="feed-event">
    		<div class="feed-img">
    			 <span class="glyphicon glyphicon-certificate"></span>
    		</div>
    		<div class="feed-info">
        		<h4>From: Yongxing Deng</h4>
        		<p class="event-desc">Can you pick me up some boba?</p>
    		</div>
    		<div class="spacer"></div>
    		<hr/>
    	</div>
        </a>
    	<div class="feed-event">
    		<div class="feed-img">
                 <span class="glyphicon glyphicon-certificate"></span>
            </div>
            <div class="feed-info">
                <h4>From: Jessie Duan</h4>
                <p class="event-desc">I'm kickin' it in Roble and want some homies to do CS 147 with!</p>
            </div>
    		<div class="spacer"></div>
    		<hr/>
    	</div>
        <div class="feed-event">
            <div class="feed-img"></div>
            <div class="feed-info">
                <h4>From: Boring person</h4>
                <p class="event-desc">This message has been read already</p>
            </div>
            <div class="spacer"></div>
            <hr/>
        </div>
    	<div class="feed-event">
    		<div class="feed-img">
                 <span class="glyphicon glyphicon-certificate"></span>
            </div>
            <div class="feed-info">
                <h4>From: Ben McKenzie</h4>
                <p class="event-desc">Ahhh! Help! Can you guys do the entire 147 project for me?</p>
            </div>
    		<div class="spacer"></div>
    		<hr/>
    	</div>
    	<div class="feed-event">
    		<div class="feed-img">
                 <span class="glyphicon glyphicon-certificate"></span>
            </div>
            <div class="feed-info">
                <h4>From: Heidi</h4>
                <p class="event-desc">Can you guys be a little bit less awesome? You're cramping our section's style</p>
            </div>
    		<div class="spacer"></div>
    		<hr/>
    	</div>
    </div>

<div id="viewFavorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="viewFavorModalLabel" aria-hidden="true">
  <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Yongxing needs help!</h3>
    <p>Can you pick up some boba?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" class="close">Accept!</button>
  </div>
</div>
</div>