<div class="container">
  <div class="spacer"></div>
  <div id="content">
    <br/>
    <h3>Notify me when...</h3>
    <div class="option">
      <p>Request received: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="option">
      <p>Favor Accepted: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="option">
      <p>Friend posts event: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="option">
      <p>Resource Desired: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
    <br/>
    <h3>Notify me by...</h3>
    <div class="option">
      <p>Push Notification: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="option">
      <p>Text: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
    <div class="option">
      <p>Email: </p> 
      <div class="switch">
        <input type="checkbox" name="my-checkbox" checked>
      </div>
      <div class="spacer"></div>
    </div>
  </div>
</div>