<div id="content" class="container">
  <br/>
  <h4>Notify me when...</h4>
  <button type="button" class="btn btn-default btn-block">Someone requests a favor from me</button>
  <button type="button" class="btn btn-default btn-block">Someone accepts my favor</button>
  <button type="button" class="btn btn-default btn-block">A friend has an event</button>
  <button type="button" class="btn btn-default btn-block">Someone needs a resource that I have</button>
  <br/>
  <h4>Notify me by...</h4>
  <button type="button" class="btn btn-default btn-block">Push notification</button>
  <button type="button" class="btn btn-default btn-block">Text</button>
  <button type="button" class="btn btn-default btn-block">Email</button>
</div>