
#nav-button {
	float: left;
	width: 10%;
	display: block;
	margin-top: 15px;
	margin-left: auto;
	margin-right: 15px;
}
#add-button {
	float: left;
	width: 10%;
	display: block;
	margin-right: auto;
	margin-top: 15px;
	margin-left: 10px;
}
#menu-title {
	float: left;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
}
#menu-bar {
	height: 20%;
	position: relative;
}
ul {
	list-style: none;
	padding:0;
	margin:0;
}
#navbar-flyout {
	display:none;
	float:left;
	height:100%;
	width: 40%;
}
#main-body {
	float:left;
	display:inline-block;
	position:relative;
}

.search-box {
	border: 2px solid #111;
	border-radius: 5px;
}

.search-box img{
	display: inline-block;
	width: 21px; 
	height: 21px;
	margin: 1px;
}

.search-box input {
	border: none;
	width: 80%;
	display: inline-block;
}

textarea:focus, input:focus{
    outline: 0;
}

.feed-icon {
	margin-top: 5px;
	height: 40px;
	width: 40px;
	display: inline-block;
}

.feed-img {
	float: left;
	font-size: 35px;
}

.feed-info {
	float: left;
	margin-left: 5px;
	width: 70%;
}

.feed-event{
	display: block;
}

.spacer {
	clear: both;
}

.requests-summary{
	font-size: 12px;
	text-align: center;
}