body{
	margin-top: 50px;
	background: rgb(31, 43, 43);
	color: rgb(218, 234, 240);
}
#menu-bar{
    width: 100%;
    height: 50px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(96, 42, 117);;
}
#nav-button {
	position: absolute;
	left: 10px;
	top: 10px;
}
#add-button {
	position: absolute;
	right: 10px;
	top: 10px;
}
#title {
	text-align: center;
	margin-top: 10px;
	line-height: 30px;
	color: rgb(255, 255, 255);
	font-size: 26px;
	font-family: 'Exo 2', sans-serif;
}
hr{
	margin-top: 7px;
	margin-bottom: 7px;
	border-top: 1px solid rgba(0, 181, 189, 0.5);
}
.glyphicon{
	position: inherit;
}
.search-box {
	margin-top: 7px;
	border: 3px solid #E0E0E0;
	border-radius: 5px;
	background: inherit;
}

.search-box .glyphicon{
	margin-left: 3px;
	margin-top: 4px;
}

.search-box input {
	border: none;
	width: 90%;
	display: inline-block;
	background: inherit;
	color: inherit;
}

textarea:focus, input:focus{
    outline: 0;
}

.feed-img {
	float: left;
	font-size: 35px;
	margin-top: 7px;
}

.success {
	color: rgb(64, 150, 37);
}

.in-progress{
	color: rgb(207, 186, 25);
}

.failed{
	color: rgb(163, 28, 55);
}

.feed-info {
	float: left;
	margin-left: 5px;
	width: 70%;
}

.feed-event{
	display: block;
}

.spacer {
	clear: both;
}

.requests-summary{
	font-size: 12px;
	text-align: center;
}

.feed-item {
    padding: 5px;
    color: black;
}

.feed-item-title {
}

.feed-item-image {
    max-height: 40px;
    max-width: 40px;
}

.btn-group-wrap{
	text-align: center;
	margin-top: 10px;
	position: initial;
}

.btn-group {
	position: initial;
}

.btn-group .btn{
	position: initial;
}

#addFavorForm{
	background: white;
}
