#profile-pic {
	width:28%;
	float:left;
}

#about {
	float:left;
}
.icon span {
	font-size: 40px;
}

.scrolling {
	height: 10%;
	overflow:scroll;
	float:left;
}

.icon, #wishlist, #resources, #about, #history {
	float:left;
	margin-left:6px;
	margin-right:6px;
}