<!doctype html>

<html>
<head>
	<title>FavorFinder</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/favorfinder.js"></script>

	<link href="css/bootstrap.css" rel="stylesheet"></link>
	<link href="css/bootstrap-theme.css" rel="stylesheet"></link>
	<link href="css/favorfinder.css" rel="stylesheet"></link>
	
   
</head>

<body>



</body>
</html>
