<!doctype html>

<html>
<head>
	<title>Favor Finder</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/favorfinder.css" rel="stylesheet">
</head>

<body>
	<div class="container" id="main-body">
		<div id="menu-bar">
			<div id="nav-button">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-align-justify"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
					    <li><a href="/">
					    	<span class="glyphicon glyphicon-home"></span>  Home 
					    </a></li>
					    <li><a href="/profile">
					    	<span class="glyphicon glyphicon-user"></span>  My Profile
					    </a></li>
					    <li><a href="/appointments">
					    	<span class="glyphicon glyphicon-time"></span>  My Appointments
					    </a></li>
					    <li><a href="/requests">
					    	<span class="glyphicon glyphicon-inbox"></span>  Requests
					    </a></li>
					    <li class="divider"></li>
					    <li><a href="/settings">
					    	<span class="glyphicon glyphicon-wrench"></span>  Settings
					    </a></li>
					</ul>
				  </div>
			</div>
			<div id="menu-title"><h3>FAVOR FINDER</h3></div>
			<div id="add-button">
				<button type="button" class="btn btn-default btn-sm">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>
			<div class="spacer"></div>
			<hr/>
		</div>
	    <div class="search-box">
	    	<form action="TO-BE-FOUND" method="get" name="search">
	          	<img class="search-icon" src="images/search_icon.png" alt="search icon" />
	            <input name="seach" type="text" value="" />
        	</form>
        	<div class="spacer"></div>
        </div>
        <hr/>
        <div>Hello, {{user.name}}!!</div>
        <a href="/logout">Log Out.</a>
        <div class="news-feed">
        {{#each newsfeed-item}}
        	<div class="feed-event">
        		<img class="feed-icon" src="{{imgURL}}"/>
        		<h4>{{title}}</h4>
        		<p class="event-desc">{{description}}</p>
        	</div>
        {{/each}}
        	<div class="feed-event">
        		<div class="feed-img">
        			<img class="feed-icon" src="images/search_icon.png"/>
        		</div>
        		<div class="feed-info">
	        		<h4>HCI Work Session</h4>
	        		<p class="event-desc">Yongxing, Jessie and Ben are all in Hog Heaven right now working on their CS 147 assignment!</p>
        		</div>
        		<div class="spacer"></div>
        		<hr/>
        	</div>
        	<div class="feed-event">
        		<div class="feed-img">
        			<img class="feed-icon" src="images/search_icon.png"/>
        		</div>
        		<div class="feed-info">
	        		<h4>Lunch Clean</h4>
	        		<p class="event-desc">Ben totally forgot to do his lunch clean.</p>
        		</div>
        		<div class="spacer"></div>
        		<hr/>
        	</div>
        	<div class="feed-event">
        		<div class="feed-img">
        			<img class="feed-icon" src="images/search_icon.png"/>
        		</div>
        		<div class="feed-info">
	        		<h4>Boba!!!</h4>
	        		<p class="event-desc">We're all going to grab boba in Mountain view this evening!</p>
        		</div>
        		<div class="spacer"></div>
        		<hr/>
        	</div>
        	<div class="feed-event">
        		<div class="feed-img">
        			<img class="feed-icon" src="images/search_icon.png"/>
        		</div>
        		<div class="feed-info">
	        		<h4>Coffee Run!</h4>
	        		<p class="event-desc">Harry Simon is borrowing Yongxing's car to go on a coffee run.</p>
        		</div>
        		<div class="spacer"></div>
        		<hr/>
        	</div>
        	<div class="feed-event">
        		<div class="feed-img">
        			<img class="feed-icon" src="images/search_icon.png"/>
        		</div>
        		<div class="feed-info">
	        		<h4>147 Studio</h4>
	        		<p class="event-desc">Chillin' with Heidi and the crew</p>
        		</div>
        		<div class="spacer"></div>
        		<hr/>
        	</div>
        </div>

	</div>

</body>
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/favorfinder.js"></script>
</html>
