#profile-pic {
	height:10%;
	float:left;
}

#about {
	float:left;
}
span.glyphicon-th-list, span.glyphicon-wrench {
	font-size: 40px;
}

.scrolling {
	height: 10%;
	overflow:scroll;
	float:left;
}

.icon, #wishlist, #resources {
	float:left;
}